@import 'tailwindcss';

body {
    font-family: 'Inter', sans-serif;
    background-color: #1a202c; /* Cor de fundo principal (cinza-azulado escuro) */
}
/* Estilo para a barra de rolagem da área de chat */
.chat-box::-webkit-scrollbar {
    width: 8px;
}
.chat-box::-webkit-scrollbar-track {
    background: #2d3748; /* Fundo da barra de rolagem */
}
.chat-box::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* Cor do "polegar" da barra de rolagem */
    border-radius: 20px;
    border: 3px solid #2d3748;
}

button {
    @apply cursor-pointer;
}
